In [46]:
import sqlite3
import time
from numpy import genfromtxt
from sqlalchemy.sql import select
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d


def Create_DB(db):      
    #Create DB and format it as needed
    with sqlite3.connect(db) as conn:
        conn.row_factory = dict_factory
        conn.text_factory = str

        cursor = conn.cursor()
        create_Table_Query = "CREATE TABLE [ADULT_Details] ([id] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL UNIQUE,"
        create_Table_Query = create_Table_Query + " [AGE] INTEGER, [WORKCLASS] Text, [final_weight] FLOAT, [EDUCATION] Text,[EDUCATION_NUM] Text,"
        create_Table_Query = create_Table_Query + " [MARTIAL_STATUS] Text,[OCCUPATION] Text, [RELATIONSHIP] Text, [RACE] Text,[SEX] Text, [CAPITAL_GAIN] INTEGER,"
        create_Table_Query = create_Table_Query + " [CAPITAL_LOSS] Text,[HOURS_per_Week] Text, [NATIVE_COUNTRY] Text, [SALabove50K] Text);"
        cursor.execute(create_Table_Query)
  
 

def Add_Record(db, data):
    #Insert record into table
    with sqlite3.connect(db) as conn:
        print("Starting Add Record...")
        #print("printing data.keys()", data.keys())
        conn.row_factory = dict_factory
        conn.text_factory = str
        cursor = conn.cursor()
        #print("test {v1} {v2}".format(v1="sentence1", v2="setence2"))
        #col = str(data.keys()).strip('[]');
        #print("Columns ", col1)
        val1=str([data[i] for i in data]).strip('[]')
        #print("Values ", val1)
        col1 = ""
        for key in data:
            col1 = col1 + "'" + key + "',"
        col1 = col1.strip(',')
        
        #print("Columns ", col1)
        #print("Values ", val1)
        sqlInsertQuery = "INSERT INTO ADULT_Details({cols}) VALUES({vals});".format(cols = col1, vals=val1)
        print(sqlInsertQuery)
        #example = "INSERT INTO ADULT_Details('AGE', 'WORKCLASS', 'final_weight', 'EDUCATION', 'EDUCATION_NUM', 'MARTIAL_STATUS', 'OCCUPATION', 'RELATIONSHIP', 'RACE', 'SEX', 'CAPITAL_GAIN', 'CAPITAL_LOSS', 'HOURS_per_Week', 'NATIVE_COUNTRY', 'SALabove50K') VALUES(30, 'State-gov', 141297, 'Bachelors', 13, 'Married-civ-spouse', 'Prof-specialty', 'Husband', 'Asian-Pac-Islander', 'Male', 0, 0, 40, 'India','yes');"
        #cursor.execute(example)
        cursor.execute(sqlInsertQuery)
        print("Ending Add Record...")


def Loading_Data(file_name):
    data = genfromtxt(file_name, delimiter=',',dtype=None, encoding=None) #, skiprows=1,converters={0: lambda s: str(s)})
    return data.tolist()

def Read_DB(db):
    print("Started reading Db....")
    with sqlite3.connect(db) as conn:
        conn.row_factory = dict_factory
        conn.text_factory = str
        cursor = conn.cursor()
        query = "SELECT * from ADULT_Details WHERE trim(WORKCLASS)='Private'"
    for row in conn.execute(query):
        print(row)
    print("Ending reading Db....")
    return 
# ENd of Read DB method

def Delete_DB(db):
    print("Started deleting rows from Db....")
    with sqlite3.connect(db) as conn:
        conn.row_factory = dict_factory
        conn.text_factory = str
        cursor = conn.cursor()
        query = "DELETE from ADULT_Details WHERE id=3353"
        cursor.execute(query)
        #db_uri = "sqlite:///db.sqlite"
        #engine = create_engine(db_uri
        #engine.execute('DELETE from ADULT_Details WHERE id=3311;')
        #query = "DELETE from ADULT_Details WHERE trim(id)=3311"
        #rc = db.session.query(ADULT_Details).filter(ADULT_Details.id==3311).delete()
        #db.session.commit()
        #print("Deleted row count is", rc)
    print("Ending deleting rows from Db....")
    return 
# ENd of Read DB method

db = 'csv_test_sql.db' #Database filename 
file_name = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data" 
print("Loading_Data.... ")
data = Loading_Data(file_name) #Get data from CSV

#  Create_DB(db) #Create DB
count=0
#For every record, format and insert to table
for i in data:
    record = {
#col_Names = ['AGE', 'WORKCLASS', 'final_weight', 'EDUCATION','EDUCATION_NUM', 'MARTIAL_STATUS','OCCUPATION', 'RELATIONSHIP',
#'RACE','SEX', 'CAPITAL_GAIN', 'CAPITAL_LOSS','HOURS_per_Week', 'NATIVE_COUNTRY', 'SALabove50K']
                'AGE' : i[0],
                'WORKCLASS' : str(i[1]),
                'final_weight' : i[2],
                'EDUCATION' : i[3],
                'EDUCATION_NUM' : i[4],
                'MARTIAL_STATUS' : i[5],
                'OCCUPATION' : i[6],
                'RELATIONSHIP' : i[7],
                'RACE' : i[8],
                'SEX' : i[9],
                'CAPITAL_GAIN' : i[10],
                'CAPITAL_LOSS' : i[11],
                'HOURS_per_Week' : i[12],
                'NATIVE_COUNTRY' : i[13],
                'SALabove50K' : i[14]
            }
    #Limiting data resords to 3 rows
    if(count < 3):
        Add_Record(db, record)
        count = count + 1
        
print("Start reading Db....")
Read_DB(db)

print("Start Deleting operation in Db....")
Delete_DB(db)

Loading_Data....
Starting Add Record...
INSERT INTO ADULT_Details('AGE','WORKCLASS','final_weight','EDUCATION','EDUCATION_NUM','MARTIAL_STATUS','OCCUPATION','RELATIONSHIP','RACE','SEX','CAPITAL_GAIN','CAPITAL_LOSS','HOURS_per_Week','NATIVE_COUNTRY','SALabove50K') VALUES(39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K');
Ending Add Record...
Starting Add Record...
INSERT INTO ADULT_Details('AGE','WORKCLASS','final_weight','EDUCATION','EDUCATION_NUM','MARTIAL_STATUS','OCCUPATION','RELATIONSHIP','RACE','SEX','CAPITAL_GAIN','CAPITAL_LOSS','HOURS_per_Week','NATIVE_COUNTRY','SALabove50K') VALUES(50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K');
Ending Add Record...
Starting Add Record...
INSERT INTO ADULT_Details('AGE','WORKCLASS','final_weight','EDUCATION','EDUCATION_NUM','MARTIAL_STATUS','OCCUPATION','RELATIONSHIP','RACE','SEX','CAPITAL_GAIN','CAPITAL_LOSS','HOURS_per_Week','NATIVE_COUNTRY','SALabove50K') VALUES(38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K');
Ending Add Record...
Start reading Db....
Started reading Db....
{'id': 3356, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3359, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3362, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3365, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3368, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3371, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3374, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
{'id': 3377, 'AGE': 38, 'WORKCLASS': ' Private', 'final_weight': 215646.0, 'EDUCATION': ' HS-grad', 'EDUCATION_NUM': '9', 'MARTIAL_STATUS': ' Divorced', 'OCCUPATION': ' Handlers-cleaners', 'RELATIONSHIP': ' Not-in-family', 'RACE': ' White', 'SEX': ' Male', 'CAPITAL_GAIN': 0, 'CAPITAL_LOSS': '0', 'HOURS_per_Week': '40', 'NATIVE_COUNTRY': ' United-States', 'SALabove50K': ' <=50K'}
Ending reading Db....
Start Deleting operation in Db....
Started deleting rows from Db....
Ending deleting rows from Db....